version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      # L'URL de la base de données peut être passée ici si nécessaire (ex: postgres://user:pass@host:5432/db)
      # Mais comme CollectFlow permet de le configurer depuis l'interface (settings), ce n'est pas strictement obligatoire au lancement.
    restart: unless-stopped
    networks:
      - nginx_default

networks:
  nginx_default:
    external: true
